Question1

문제1
1-1 a
1-2 f
1-3 c
1-4 h

문제2
웹 사이트의 정보를 수집하기 위해 작성한 코드를 웹 크롤러라고 하는데, 이를 이용해 데이터를 수집하는 행위를 웹 크롤링이라고 합니다.
필요성은 단시간에 많은 정보를 수집할 수 있으며, 단순한 반복 작업도 자동화할 수 있고, 웹 사이트에 있는 수많은 정보 가운데 우리가 원하는 정보를 특정지어, 수집할 수 있습니다.(웹 크롤링으로 자동화로 정보를 수집하지 않으면, 데이터가 많아질수록 자신이 원하는 정보를 찾는데 시간이 그만큼 더 오래걸립니다)

문제3
beautifulSoup모듈은 크롤리하는 데 필요한 함수를 한데 모아 놓은 모듈입니다. 문자열 형태의 문서를 트리 구조로 파싱하는 데에 이용합니다.

문제4
1번은 1개의 데이터를 가져오고,
2번은 여러개의 데이터를 iterable(시퀀스)형태로 가져와서, 각각의 데이터를 호출하려면, 인덱싱 혹은 슬라이싱을 이용해야합니다. 

문제5
"span#this_span"
text

Question2

In [8]:
import pandas as pd
from selenium import webdriver as wb # 컴퓨터 전용 브라우저를 실행 및 관리하는 도구
from selenium.webdriver.common.by import By # 요소 지정 방식을 제공하는 도구
from selenium.webdriver.common.keys import Keys # 키보드 입력을 제공하는 도구
import time #시간 지연 도구
import requests as req # 요청하는 도구
from bs4 import BeautifulSoup as bs # 파싱하는 도구

In [2]:
# 컴퓨터 전용 브라우저 (테스트 브라우저)
driver = wb.Chrome()
# 1. url 요청
driver.get("https://www.naver.com")

In [3]:
# 검색란 찾기 -> 검색을 받는 요소를 지정
search=driver.find_element(By.ID, "query")
# 키보드 값을 보내는 함수
search.send_keys("크롤링")
search.send_keys(Keys.ENTER)

In [4]:
# 뒤로가기
driver.back()

In [5]:
search = driver.find_element(By.ID,"query")
search.send_keys("크롤링")

In [6]:
# 버튼 클릭도 가능!
btn = driver.find_element(By.ID, "search-btn")
btn.click()

In [7]:
driver.quit()

Question3

In [36]:
#1. 테스트 브라우저
driver = wb.Chrome()
#2. 요청
driver.get("https://www.gmarket.co.kr/n/best")

In [15]:
#3. 수집 - 메뉴명, 가격 -> req, bs
menu= driver.find_elements(By.CSS_SELECTOR,"a > div.box__item-info > p")[:20]
price=driver.find_elements(By.CSS_SELECTOR,"div.box__price-seller > span.text.text__value")[:20]

In [16]:
# menu.text
menuList=[]
priceList=[]
for i in range(len(menu)):
    menuList.append(menu[i].text)
    priceList.append(price[i].text)

In [17]:
menuList=[menu[i].text for i in range(len(menu))]
priceList=[price[i].text for i in range(len(price))]
len(menuList), len(priceList)

(20, 20)

In [18]:
#5. 저장(csv)
dictMenu = {
    "메뉴명":menuList,
    "가격":priceList
}
#DF제작
menuDF= pd.DataFrame(dictMenu)

In [19]:
menuDF

                                                  메뉴명       가격
0   (무료반품+30%)11/11 단하루 페이지플린 본격겨울 겨울신상 베스트 특가 코트/...   23,730
1           (15%/쿠폰가5870원) 1+1 포근 따뜻 털 실내화 외 생활용품 모음전    5,870
2                       10% 스파클생수 2L 30병 (도착보장/무라벨생수)   12,030
3   BEST 생리대 (최대 76% 초특가/입오버 395원유기농 490원) 부드러운 블랙...   13,950
4            (사은품증정)베베쥬 10+15%/겨울 인기 신상 특가전/ 전상품 무료배송    9,980
5   (15%+10%) New 슈팅스타 캐치 티니핑 스티커/놀이북/색칠북/코디북 골라담기...    8,100
6     (신선집중) 20%+10% / 조은해남 절임배추 20kg 해남 절임배추 100%국내산   29,200
7                    오뚜기 맛있는 오뚜기밥 200g 18개+18개 외 골라담기   26,320
8   아디다스 언더아머 아동 키즈 (10+5%쿠폰)4930원~ 긴팔 티셔츠 트랙자켓 트랙...    7,480
9         약산성 탈모완화샴푸 1350ml+1350ml+100ml 2세트70샴푸3세트두마   22,000
10                (공식) 노스페이스 24FW 다운 자켓/맨투맨/팬츠 BEST50  157,680
11  (10%+10%쿠폰+무료반품) 로즈맘 4900원대부터~FW신상/인기BEST의류 초특...   10,320
12  무료반품+(10%+20%/G단독가) 겨울신상/기모팬츠/융/빅사이즈/데님/슬랙스/면바...   14,630
13                                영재사고력 수학 1031 키즈 세트  211,000
14                        스파클생수 500ml 100병 (도착보장/무라벨)   14,280
15  키즈꼬모 가을시즌오프 + 겨울신상 등원룩 특가로 준비 상하복세트 아동복 등원복 가을...    6,930
16                       무료배송 3M플러스와이퍼 균일가 행사/2개묶음 행사    8,550
17     (신선집중) 15%+10%/ 본죽 대용량 냉장 메추리알 장조림 1kg 2팩 외 2종   14,070
18  (신선집중) 22%+10%/ 서귀포인정 노지감귤 4.5kg 중대과 (L-2L) / ...    9,460
19        OLOLA 오로라 기저귀 4팩 모음전 (기저귀바우처 사용 가능) +생리대 증정   25,080

In [37]:
driver.quit() #쿼잇

Question4

In [22]:
# 1. 요청
url = "https://www.melon.com/chart/index.htm"
# 정확하게는 일반 사용자(크롬 브라우저)가 요청했다는 정보를 서버에서 확인할 수 있도록 User-Agent를 가져옴
user_agent = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"}
res=req.get(url, headers=user_agent) #header를 컴퓨터가 아니라, 유저_agent라고 속여서, 통신 성공!
res

In [23]:
# 2. 파싱
soup=bs(res.text,"lxml")

In [24]:
titles=soup.select("div.ellipsis.rank01 > span > a")
len(titles)

100

In [25]:
singers=soup.select("div.ellipsis.rank02>span")
len(singers)

100

In [26]:
# 수집한 데이터를 저장하기 쉽게 DataFrame으로 형변환
# iterable = 시퀀스= 반복가능한 자료형들.
title_list=[]
singer_list=[]
for i in range(len(singers)):
    title_list.append(titles[i].text)
    singer_list.append(singers[i].text)

In [27]:
dict_melon = {
    "노래제목":title_list,
    "가수명":singer_list
}

melon_top100= pd.DataFrame(dict_melon,index=range(1,101))
melon_top100

                 노래제목                    가수명
1                APT.  로제 (ROSÉ), Bruno Mars
2            Whiplash                  aespa
3               POWER               G-DRAGON
4    UP (KARINA Solo)                  aespa
5               HAPPY            DAY6 (데이식스)
..                ...                    ...
96       Get A Guitar                  RIIZE
97          Attention               NewJeans
98             Heaven              투모로우바이투게더
99               MEOW            MEOVV (미야오)
100       가까운 듯 먼 그대여                   카더가든

[100 rows x 2 columns]

In [28]:
#4. 저장
melon_top100.to_csv("./melon_top_100.csv",encoding = "utf-8")

Question5

In [29]:
#1. 테스트 브라우저
driver = wb.Chrome()
#2. 요청
driver.get("https://www.hsd.co.kr/menu/menu_list")

In [30]:
#3. 더보기 버튼 클릭하기(파싱은 정적 크롤링때 HTML 다 긁어오는 것. 동적 크롤링의 .text하는게 더 편하다)
while True:
    try:
        btn1= driver.find_element(By.CSS_SELECTOR, "a.c_05")
        btn1.click()
        time.sleep(2) #2초 정도 기다려!
    except:
        print("더보기 완료~")
        break

더보기 완료~

In [32]:
menu= driver.find_elements(By.CSS_SELECTOR,"div > div.item-text > h4")
price=driver.find_elements(By.CLASS_NAME,"item-price")

# menu.text
menuList=[]
priceList=[]
for i in range(len(menu)):
    menuList.append(menu[i].text)
    priceList.append(price[i].text)

In [33]:
#5. 저장(csv)
dictMenu = {
    "메뉴명":menuList,
    "가격":priceList
}
#DF제작
menuDF= pd.DataFrame(dictMenu)
menuDF

                       메뉴명      가격
0              오모가리 김치제육덮밥  4,900원
1            빅 오모가리 김치제육덮밥  5,500원
2   한우 함박스테이크& 청양 토네이도 소세지  8,900원
3       한우 함박스테이크&토네이도 소세지  8,900원
4               제주녹차 미니꿀호떡  2,500원
..                     ...     ...
95                      김치    500원
96                 무말랭이 무침    500원
97                     한솥밥  1,000원
98                     현미밥  1,700원
99                리얼꿀 미니호떡  2,200원

[100 rows x 2 columns]

In [34]:
#csv로 변환
menuDF.to_csv("./menuDF.csv",encoding = "utf-8")

In [35]:
driver.quit() #쿼잇